---
apiVersion: v1
kind:  ConfigMap
metadata:
  name: {{ grafana_resource_name }}-{{ item.name }}
  namespace: {{ item.namespace | default('monitoring') }}
  labels:
    grafana_dashboard: "1"
data:
  {{ item.filename }}: |
    {{ item.json | indent(width=4, first=False) }}
