---
- name: Install grafana-operator
  kubernetes.core.helm:
    name: grafana-operator
    chart_ref: oci://ghcr.io/grafana/helm-charts/grafana-operator
    update_repo_cache: true
    wait: true
    wait_timeout: 10m
    chart_version: "{{ grafana_operator_chart_version }}"
    kubeconfig: "{{ kubeconfig }}"
    release_namespace: "{{ grafana_namespace }}"
    values:
      "{{ grafana_operator_values | combine(grafana_operator_values_overwrite) }}"
