#!/bin/bash
START="$1"
END="$2"

for (( i=$START; i<=$END; i++ ))
do
 docker compose --project-directory {{ scalelite_docker_compose_folder }} exec scalelite-api ./bin/rake servers | grep -e "bbb-$i\." -B 1 | grep id | cut -d " " -f2 > id
 docker compose --project-directory {{ scalelite_docker_compose_folder }} exec scalelite-api ./bin/rake servers:cordon[$(cat id)]
done

