---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDashboard
metadata:
  name: {{ grafana_resource_name }}-{{ item.name }}
spec:
  instanceSelector:
    matchLabels:
      {{ grafana_label_selector }}
  folder: {{ item.folder }}
  json: >
    {{ item.json | indent(width=4, first=False) }}
