---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaNotificationPolicy
metadata:
  name: {{ grafana_resource_name }}-{{ item.name }}
spec:
  instanceSelector:
    matchLabels:
      {{ grafana_label_selector }}
  route:
    receiver: {{ item.contact_point }}
    group_by:
      {{ item.group_by }}
    routes:
{% for item_inner in item.routes %}
  - receiver: {{ item.contact_point }}
    object_matchers:
    - - {{ item_inner.matcher.label }}
      - {{ item_inner.matcher.match }}
      - {{ item_inner.matcher.value }}
{% if item_inner.group_wait is defined %}
group_wait: {{ item_inner.group_wait }}
{% endif %}
{% if item_inner.group_interval is defined %}
group_interval: {{ item_inner.group_interval }}
{% endif %}
{% if item_inner.repeat_interval is defined %}
repeat_interval: {{ item_inner.repeat_interval }}
{% endif %}
{% endfor %}
