---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDashboard
metadata:
  name: {{ grafana_resource_name }}-{{ item.name }}
spec:
  instanceSelector:
    matchLabels:
{{ grafana_label_selector | to_nice_yaml | indent(6, true) }}
  folder: "{{ item.folder }}"
  json: |
{{ ((item.json | to_nice_json) if (item.json is mapping or item.json is sequence) else item.json) | indent(4, true) }}
