---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaNotificationPolicy
metadata:
  name: {{ grafana_resource_name }}-{{ item.name }}
spec:
  instanceSelector:
    matchLabels:
{{ grafana_label_selector | to_nice_yaml(indent=2) | indent(6, true) }}

  route:
    receiver: "{{ item.contact_point }}"
    groupBy:
{{ item.group_by | to_nice_yaml(indent=2) | indent(6, true) }}
    routes:
{% for r in item.routes %}
      - receiver: "{{ item.contact_point }}"
        groupWait: "{{ r.group_wait }}"
        groupInterval: "{{ r.group_interval }}"
        repeatInterval: "{{ r.repeat_interval }}"
        matchers:
          - label: "{{ r.matcher.label }}"
            match: "{{ r.matcher.match }}"
            value: "{{ r.matcher.value }}"
{% endfor %}