---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaFolder
metadata:
  name: {{ item.name }}
spec:
  instanceSelector:
    matchLabels:
{{ grafana_label_selector | to_nice_yaml(indent=6) | indent(6, true) }}
  title: {{ item.title }}
{% if item.permissions is defined %}
  permissions: |
    {{ item.permissions | to_json }}
