apiVersion: v1
kind: Secret
metadata:
    name: "psql-{{ postgres_config_name }}-config"
    namespace: "{{ postgres_config_namespace }}"
type: Opaque
data:
{% if postgres_config_pass_key is not defined %}
    PGPASSWORD: "{{ postgres_config_pass | b64encode }}"
{% endif %}
{% if postgres_config_user_key is not defined  %}
    PGUSER: "{{ postgres_config_user | b64encode }}"
{% endif %}
    PGHOST: "{{ postgres_config_host | b64encode }}"
    DB_NAME: "{{ postgres_config_db_name | b64encode }}"
    DB_CUSTOM_COMMAND: "{{ postgres_config_custom_command | b64encode }}"
{% for user in postgres_config_db_users %}
    DB_{{ user.name | upper }}_USER_PASS: "{{ user.password | b64encode }}"
{% endfor %}
