/* Make logo wider */
.small-logo {
  max-width: 350px !important;
  max-height: $header-height;
}

.logo {
  max-width: 350px !important;
  max-height: 125px;
}

.logo-wrapper {
  width: 350px !important;
  height: 125px;
}

div.row:has(#homepage-hero) {
  /* Remove feature boxes from homepage */
  + div.row {
    display: none;
  }

  /* Remove link to BBB homepage from homepage hero */
  a:last-of-type {
    display: none;
  }
}

/* Remove link to Greenlight documentation from footer */
#footer > #footer-container {
  a:first-of-type {
    display: none;

    + a {
      padding-left: 0 !important;
    }
  }
}