kind: ClusterPolicy
apiVersion: kyverno.io/v1
metadata:
  name: add-{{ item.0.key | regex_replace('_', '-') }}-{{ item.1.role }}-rolebinding
  annotations:
    policies.kyverno.io/title: Add RoleBinding for users with permission {{ item.0.key }} to role {{ item.1.role }}
    policies.kyverno.io/subject: RoleBinding
spec:
  generateExisting: true
  rules:
    - generate:
        kind: RoleBinding
        apiVersion: rbac.authorization.k8s.io/v1
        name: {{ item.0.key | regex_replace('_', '-') }}-{{ item.1.role }}-rolebinding
        data:
          roleRef:
            apiGroup: rbac.authorization.k8s.io
            kind: ClusterRole
            name: {{ item.1.role }}
          subjects:
{% for user in present_users %}
{% for kube in user.permissions.kubernetes | default([]) | selectattr('role', 'equalto', item.1.role) | selectattr('hosts', 'equalto', item.1.hosts) %}
            - kind: ServiceAccount
              name: {{ user.serviceaccount_name | default(user.name, true) }}
              namespace: {{ item.1.namespace | default('default', true) }}
{% endfor %}
{% endfor %}
{%- raw %}
        namespace: '{{request.object.metadata.name}}'
{% endraw %}
        synchronize: true
      match:
        any:
          - resources:
              kinds:
                - Namespace
{% if item.1.namespaces | default([]) %}
              names: {{ item.1.namespaces }}
{% endif %}
{% if item.1.namespace_excludes | default([]) %}
      exclude:
        any:
          - resources:
              kinds:
                - Namespace
              names: {{ item.1.namespace_excludes }}
{% endif %}
      name: generate-{{ item.0.key | regex_replace('_', '-') }}-{{ item.1.role }}-rolebinding
